<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxinet.jeesns.dao.member.IMemberTokenDao">
  <select id="getByToken" resultType="MemberToken">
    select id,token,member_id
    from tbl_member_token
    WHERE token = #{token} AND expire_time &gt; now() AND status = 0
  </select>

  <insert id="save">
    insert into tbl_member_token(create_time,member_id,token,expire_time)
    values(now(),#{memberId},#{token},#{expireTime})
  </insert>
</mapper>