<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxinet.jeesns.dao.common.IPictureDao">
  <resultMap id="PictureResult" type="Picture">
    <id column="picture_id" jdbcType="INTEGER" property="pictureId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="foreign_id" jdbcType="INTEGER" property="foreignId" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="thumbnail_path" jdbcType="VARCHAR" property="thumbnailPath" />
    <result column="md5" jdbcType="VARCHAR" property="md5" />
    <result column="width" jdbcType="INTEGER" property="width" />
    <result column="height" jdbcType="INTEGER" property="height" />
  </resultMap>

  <select id="find" resultMap="PictureResult">
    select * from tbl_picture where foreign_id=#{id}
  </select>
  <delete id="delete">
    delete from tbl_picture where foreign_id=#{id}
  </delete>
  <insert id="save" useGeneratedKeys="true" keyProperty="pictureId">
    insert into tbl_picture (create_time, type, foreign_id, path, thumbnail_path, md5, width, height)
    values (now(), #{type}, #{foreignId}, #{path}, #{thumbnailPath}, #{md5}, #{width}, #{height})
  </insert>
  <update id="update">
    UPDATE tbl_picture SET foreign_id=#{foreignId} WHERE picture_id in
    <foreach item="item" index="index" collection="ids" open="("
             separator="," close=")">
      #{item}
    </foreach>
  </update>
</mapper>