<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxinet.jeesns.dao.shop.IGoodsCateDao">
  <resultMap id="GoodsCateResult" type="GoodsCate">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="fid" jdbcType="INTEGER" property="fid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
  </resultMap>

  <select id="findListByFid" resultMap="GoodsCateResult">
    select
    id,fid,name,status,sort,level
    from tbl_goods_cate
    where fid = #{fid}
    ORDER BY sort desc,id DESC
  </select>
  <select id="list" resultMap="GoodsCateResult">
    select
    id,fid,name,status,sort,level
    from tbl_goods_cate
    ORDER BY sort desc,id DESC
  </select>

  <select id="topList" resultMap="GoodsCateResult">
    select
    id,fid,name,status,sort,level
    from tbl_goods_cate
    <where>
      and fid = 0
    </where>
    ORDER BY sort desc,id DESC
  </select>

  <select id="sonList" resultMap="GoodsCateResult">
    select
    id,fid,name,status,sort,level
    from tbl_goods_cate
    <where>
      and fid != 0
    </where>
    ORDER BY sort desc,id DESC
  </select>

</mapper>