<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxinet.jeesns.core.dao.IArchiveFavorDao">
  <select id="find" resultType="ArchiveFavor">
    select * from tbl_archive_favor where archive_id = #{archiveId} and member_id = #{memberId}
  </select>
  <delete id="delete">
    delete from tbl_archive_favor where archive_id = #{archiveId} and member_id = #{memberId}
  </delete>
  <insert id="save">
    insert into tbl_archive_favor (archive_id,member_id,create_time) values (#{archiveId}, #{memberId}, now())
  </insert>
</mapper>