a {
    text-decoration: none !important;
}

.gray-bg {
    background-color: #f3f3f4;
}

.white-bg {
    background-color: #ffffff;
}

.main-text-color {
    color: #0499e2;
}

.no-border{
    border: none;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.p-r-10 {
    padding-right: 10px;
}

.m-t-n4{
    margin-top: -4px;
}

.m-t-10{
    margin-top: 10px;
}

.m-b-10{
    margin-bottom: 10px;
}

.text-align-center{
    text-align: center;
}

.navbar {
    border-radius: 0px;
    min-height: 70px;
    padding-top: 13px;
    border-color: #ffffff;
}

.navbar-toggle {
    background-color: #0499e2;
}

.navbar-inverse {
    background-color: #393D49;
    border: 0;
    border-top: solid 1px #0499e2;
    border-bottom: solid 2px #0499e2;
}

.navbar-inverse .navbar-nav > li > a {
    color: #999;
    font-size: 18px;
    margin: 0 15px;
}

.navbar-inverse .navbar-nav-right{
    margin-top: -5px;
}
.navbar-inverse .navbar-nav-right > li > a {
    color: #428bca;
    font-size: 14px;
    margin: 5px 1px;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #ffffff;
    background-color: #393D49;
}

.m-navbar-header{
    margin-right: 0!important;
}

.jeesns-logo {
    padding: 0 0 0 25px;
    margin-top: -5px;
}

.btn {
    margin-bottom: 5px;
    border-radius: 0px;
}

.panel {
    border-radius: 0px;
}

.form-horizontal .form-group {
    margin-left: 10px;
    margin-right: 10px;
}

.comments-list .comment {
    padding: 10px 10px;
}

.comment > .avatar, .comment > .content {
    word-break: break-all;
}

.form-control {

}

.shadow {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .1);
}

.form-control,
.single-line {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 0px !important;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .75);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, .75);
    color: inherit;
    display: block;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    font-size: 14px;
}

.form-control:focus,
.single-line:focus {
    border-color: #0499e2 !important;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .75);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, .75);
}

.main-content {
}

.panel-heading {
    border-bottom: 1px solid #0499e2;
    font-size: 15px;
    font-weight: 500;
    padding: 5px 0 5px 15px;
    margin-bottom: 5px;
    background-color: #ffffff !important;
    border-color: #0499e2 !important;
}

.article-list {
    background-color: #ffffff;
    padding: 15px !important;
    margin-bottom: 10px;
}

.article-list:hover {
    border-bottom: solid #0499e2 1px;
    border-left: solid #0499e2 1px;
}

.article-hot-list ul {
    list-style-type: none;
    padding-left: 5px;
}

.article-hot-list ul li {
    margin-bottom: 5px;
    font-size: 14px;
}

.article-hot-list ul li a {
    color: #333333;
}

.article-hot-list ul li a:hover {
    color: #0499e2;
    text-decoration-line: none;
}

.article-detail {
    border-top: solid #0499e2 2px;
    background-color: #ffffff;
    padding: 15px !important;
    margin-bottom: 10px;
}

.weibo-post-area {
    padding-top: 20px;
}

.weibo-list {
    background-color: #ffffff;
    padding: 15px !important;
    margin-bottom: 10px;
}

.weibo-detail {
    border-top: solid #0499e2 2px;
    background-color: #ffffff;
    padding: 15px !important;
    margin-bottom: 10px;
}

.weibo-detail .content {
    text-align: center;
    padding: 100px 0;
}

.weibo-author {
    text-align: center;
}

.weibo-detail .avatar, .weibo-author .avatar {
    width: 100%;
}

.weibo-detail .name, .weibo-author .name {
    color: #c9c9c9;
}

.weibo-detail .avatar img, .weibo-author .avatar img {
    width: 60px;
    height: 60px;
}

.weibo-detail .info {
    width: 100%;
    padding-bottom: 30px;
}

.weibo-detail .info .left {
    text-align: left;
    float: left;
    color: #c9c9c9;
}

.weibo-detail .info .right {
    text-align: right;
    float: right;
}

.weibo-author .info {

}

.group-list {
    padding: 20px;
    margin-bottom: 20px;
}

.group-list .group-detail {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
    background-color: hsla(0,0%,71%,.1);
    transition: .2s ease;
    height: 200px;
    border-radius: 4px;
    margin-top: 50px;
    border: 1px solid #e6e6e6;
}

.group-list .group-detail:hover{
    box-shadow:0 5px 20px rgba(0,0,0,.1)
}

.group-list .group-detail .group-logo {
    width: 100px;
    height: 100px;;
    margin: 0 auto;
    margin-top: -70px;
}

.group {
    float: left;
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
}

.group .group-logo {
    float: left;
    width: 80px;
    height: 80px;
    margin-right: 20px;
}

.group .group-detail {
    float: left;
    width: calc(100% - 100px);
    height: 100px;
}

.group .group-introduce {
    margin-top: 5px;
    padding-top: 10px;
}

.group .group-fans {
    width: 60px;
    height: 90px;
    float: left;
    margin: 5px 10px;
}

.group .group-fans-avatar {
    width: 100%;
    float: left;
}

.group .group-fans-name {
    width: 100%;
    float: left;
}

.group .group-detail p .text-right{
    float: right;
}

.group-topic-list{
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    float: left;
}
.group-detail-fans .list{
    width: 100%;
    padding: 10px 0;
    margin: 0 auto;
    text-align: center;
}
.group-detail-fans .list .fan{
    text-align: center;
    width: 80px;
    float: left;
    margin-bottom: 10px;
}


#weiboUploader .queueList {
    margin: 20px;
    border: 3px dashed #e6e6e6;
}

#weiboUploader .queueList.filled {
    padding: 17px;
    margin: 0;
    border: 3px dashed transparent;
}

#weiboUploader .queueList.webuploader-dnd-over {
    border: 3px dashed #999999;
}

#weiboUploader p {
    margin: 0;
}

.element-invisible {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

#weiboUploader .placeholder {
    min-height: 150px;
    padding-top: 50px;
    text-align: center;
    color: #cccccc;
    font-size: 18px;
    position: relative;
}

#weiboUploader .placeholder .webuploader-pick {
    font-size: 18px;
    background: #00b7ee;
    border-radius: 3px;
    line-height: 44px;
    padding: 0 30px;
    *width: 120px;
    color: #fff;
    display: inline-block;
    margin: 0 auto 20px auto;
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

#weiboUploader .placeholder .webuploader-pick-hover {
    background: #00a2d4;
}

#weiboUploader .placeholder .flashTip {
    color: #666666;
    font-size: 12px;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 20px;
}

#weiboUploader .placeholder .flashTip a {
    color: #0785d1;
    text-decoration: none;
}

#weiboUploader .placeholder .flashTip a:hover {
    text-decoration: underline;
}

#weiboUploader .filelist {
    list-style: none;
    margin: 0;
    padding: 0;
}

#weiboUploader .filelist:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
    clear: both;
}

#weiboUploader .filelist li {
    width: 110px;
    height: 110px;
    background: url(../images/upload_bg.png) no-repeat;
    text-align: center;
    margin: 0 8px 20px 0;
    position: relative;
    display: inline;
    float: left;
    overflow: hidden;
    font-size: 12px;
}

#weiboUploader .filelist li p.log {
    position: relative;
    top: -45px;
}

#weiboUploader .filelist li p.title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    top: 5px;
    text-indent: 5px;
    text-align: left;
}

#weiboUploader .filelist li p.progress {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 8px;
    overflow: hidden;
    z-index: 50;
    margin: 0;
    border-radius: 0;
    background: none;
    -webkit-box-shadow: 0 0 0;
}

#weiboUploader .filelist li p.progress span {
    display: none;
    overflow: hidden;
    width: 0;
    height: 100%;
    background: #1483d8 url(../images/upload_progress.png) repeat-x;
    -webit-transition: width 200ms linear;
    -moz-transition: width 200ms linear;
    -o-transition: width 200ms linear;
    -ms-transition: width 200ms linear;
    transition: width 200ms linear;
    -webkit-animation: progressmove 2s linear infinite;
    -moz-animation: progressmove 2s linear infinite;
    -o-animation: progressmove 2s linear infinite;
    -ms-animation: progressmove 2s linear infinite;
    animation: progressmove 2s linear infinite;
    -webkit-transform: translateZ(0);
}

.index-article{
    text-align: center;
    min-height: 265px;
}

@-webkit-keyframes progressmove {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 17px 0;
    }
}

@-moz-keyframes progressmove {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 17px 0;
    }
}

@keyframes progressmove {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 17px 0;
    }
}

#weiboUploader .filelist li p.imgWrap {
    position: relative;
    z-index: 2;
    line-height: 110px;
    vertical-align: middle;
    overflow: hidden;
    width: 110px;
    height: 110px;

    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;

    -webit-transition: 200ms ease-out;
    -moz-transition: 200ms ease-out;
    -o-transition: 200ms ease-out;
    -ms-transition: 200ms ease-out;
    transition: 200ms ease-out;
}

#weiboUploader .filelist li img {
    width: 100%;
}

#weiboUploader .filelist li p.error {
    background: #f43838;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 28px;
    line-height: 28px;
    width: 100%;
    z-index: 100;
}

#weiboUploader .filelist li .success {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    z-index: 200;
    background: url(../images/upload_success.png) no-repeat right bottom;
}

#weiboUploader .filelist div.file-panel {
    position: absolute;
    height: 0;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#80000000', endColorstr='#80000000') \0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 300;
}

#weiboUploader .filelist div.file-panel span {
    width: 24px;
    height: 24px;
    display: inline;
    float: right;
    text-indent: -9999px;
    overflow: hidden;
    background: url(../images/upload_icons.png) no-repeat;
    margin: 5px 1px 1px;
    cursor: pointer;
}

#weiboUploader .filelist div.file-panel span.rotateLeft {
    background-position: 0 -24px;
}

#weiboUploader .filelist div.file-panel span.rotateLeft:hover {
    background-position: 0 0;
}

#weiboUploader .filelist div.file-panel span.rotateRight {
    background-position: -24px -24px;
}

#weiboUploader .filelist div.file-panel span.rotateRight:hover {
    background-position: -24px 0;
}

#weiboUploader .filelist div.file-panel span.cancel {
    background-position: -48px -24px;
}

#weiboUploader .filelist div.file-panel span.cancel:hover {
    background-position: -48px 0;
}

#weiboUploader .statusBar {
    height: 63px;
    border-top: 1px solid #dadada;
    padding: 0 20px;
    line-height: 63px;
    vertical-align: middle;
    position: relative;
}

#weiboUploader .statusBar .progress {
    border: 1px solid #1483d8;
    width: 198px;
    background: #fff;
    height: 18px;
    position: relative;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    color: #6dbfff;
    position: relative;
    margin: 0 10px 0 0;
}

#weiboUploader .statusBar .progress span.percentage {
    width: 0;
    height: 100%;
    left: 0;
    top: 0;
    background: #1483d8;
    position: absolute;
}

#weiboUploader .statusBar .progress span.text {
    position: relative;
    z-index: 10;
}

#weiboUploader .statusBar .info {
    display: inline-block;
    font-size: 14px;
    color: #666666;
}

#weiboUploader .statusBar .btns {
    position: absolute;
    top: 10px;
    right: 20px;
    line-height: 40px;
}

#filePicker2 {
    display: inline-block;
    float: left;
}

#weiboUploader .statusBar .btns .webuploader-pick,
#weiboUploader .statusBar .btns .uploadBtn,
#weiboUploader .statusBar .btns .uploadBtn.state-uploading,
#weiboUploader .statusBar .btns .uploadBtn.state-paused {
    background: #ffffff;
    border: 1px solid #cfcfcf;
    color: #565656;
    padding: 0 18px;
    display: inline-block;
    border-radius: 3px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 14px;
    float: left;
}

#weiboUploader .statusBar .btns .webuploader-pick-hover,
#weiboUploader .statusBar .btns .uploadBtn:hover,
#weiboUploader .statusBar .btns .uploadBtn.state-uploading:hover,
#weiboUploader .statusBar .btns .uploadBtn.state-paused:hover {
    background: #f0f0f0;
}

#weiboUploader .statusBar .btns .uploadBtn {
    background: #00b7ee;
    color: #fff;
    border-color: transparent;
}

#weiboUploader .statusBar .btns .uploadBtn:hover {
    background: #00a2d4;
}

#weiboUploader .statusBar .btns .uploadBtn.disabled {
    pointer-events: none;
    opacity: 0.6;
}

.footer {
    height: 100px;
    background-color: #2f2f2f;
    color: #777;
    padding-top: 30px;
}

.btn-article-favor {
    border-radius: 50px;
    padding: 15px 40px;
    font-size: 18px;
}

.btn-article-unfavor {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
    color: #ea644a;
}