<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxinet.jeesns.modules.cms.dao.IArticleDao">
  <select id="listByPage" resultType="Article">
    select a.id,a.cate_id as 'articleCate.id', a.collect_time,a.status, b.*,c.name 'articleCate.name',
    b.member_id as 'member.id',d.name as 'member.name'
    from tbl_article as a LEFT JOIN tbl_archive as b ON a.archive_id = b.archive_id
    LEFT JOIN tbl_article_cate as c ON a.cate_id = c.id
    LEFT JOIN tbl_member as d ON b.member_id = d.id
    <where>
      <if test="cateid &gt; 0">
        a.cate_id = #{cateid}
      </if>
      <if test="key != null and key != ''">
        and b.title LIKE #{key}
      </if>
      <if test="status != 2">
        and a.status = #{status}
      </if>
      <if test="memberId &gt; 0">
        and b.member_id = #{memberId}
      </if>
    </where>
    order by a.id DESC
  </select>
  <select id="findById" parameterType="java.lang.Integer" resultType="Article">
    select a.id,a.cate_id as 'articleCate.id', a.collect_time,a.status, b.*,c.name 'articleCate.name',b.member_id,
    (CASE WHEN (SELECT id FROM tbl_archive_favor WHERE archive_id=b.archive_id AND member_id=#{loginMemberId}) IS NULL THEN 0 ELSE 1 END) isFavor
    from tbl_article as a LEFT JOIN tbl_archive as b ON a.archive_id = b.archive_id LEFT JOIN tbl_article_cate as c ON a.cate_id = c.id
    where a.id = #{id}
  </select>
  <delete id="delete" parameterType="java.lang.Integer">
    delete from tbl_action_log where type=1 and foreign_id = #{id};
    delete from tbl_article where id = #{id}
  </delete>
  <insert id="save" parameterType="Article" useGeneratedKeys="true" keyProperty="id">
    insert into tbl_article (collect_time,cate_id, archive_id,status) values (now(), #{cateId}, #{archiveId},#{status})
  </insert>

  <update id="update" parameterType="Article">
    update tbl_article set cate_id=#{cateId} where id = #{id}
  </update>
  <update id="audit">
    update tbl_article set status=(CASE WHEN status=0 THEN 1 ELSE 0 END)
    where id = #{id}
  </update>

</mapper>