<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxinet.jeesns.dao.question.IAnswerDao">
  <resultMap id="AnswerResult" type="Answer">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="member_id" jdbcType="INTEGER" property="memberId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="question_id" jdbcType="INTEGER" property="questionId" />
    <result column="favor_count" jdbcType="INTEGER" property="favorCount" />
    <result column="comment_count" jdbcType="INTEGER" property="commentCount" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <association property="member" column="member_id" javaType="Member">
      <result column="m_id" property="id"/>
      <result column="m_name" property="name"/>
      <result column="m_email" property="email"/>
      <result column="m_phone" property="phone"/>
      <result column="m_avatar" property="avatar"/>
      <result column="m_sex" property="sex"/>
      <result column="m_money" property="money"/>
      <result column="m_score" property="score"/>
      <result column="m_follows" property="follows"/>
      <result column="m_fans" property="fans"/>
      <result column="m_is_admin" property="isAdmin"/>
      <result column="m_introduce" property="introduce"/>
      <result column="m_status" property="status"/>
      <result column="m_is_active" property="isActive"/>
    </association>
  </resultMap>
  <sql id="select_common_column">
    a.id,a.create_time,a.update_time,a.member_id,a.question_id,a.favor_count,a.comment_count,
    d.id as m_id,d.name as m_name,d.email as m_email,d.phone as m_phone,
    d.avatar as m_avatar,d.sex as m_sex,d.money as m_money,d.score as m_score,d.follows as m_follows,
    d.fans as m_fans,d.is_admin as m_is_admin,d.introduce as m_introduce,d.status as m_status,d.is_active as m_is_active
  </sql>
  <sql id="select_all_column">
    <include refid="select_common_column"/>,a.content
  </sql>

  <select id="listByQuestion" resultMap="AnswerResult">
    select <include refid="select_all_column"/>
    from tbl_answer as a
    left join tbl_member as d on a.member_id = d.id
    where a.question_id = #{questionId} and a.id !=
    ifnull((select b.answer_id from tbl_question as b where b.id = #{questionId}), 0)
    order by a.id DESC
  </select>

  <select id="findById" parameterType="java.lang.Integer" resultMap="AnswerResult">
    select <include refid="select_all_column"/>
    from tbl_answer as a
    left join tbl_member as d on a.member_id = d.id
    where a.id = #{id}
  </select>
</mapper>