<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxinet.jeesns.modules.group.dao.IGroupTopicCommentDao">
  <select id="listByGroupTopic" resultType="GroupTopicComment">
    select a.id,a.create_time,a.member_id as 'member.id',a.group_topic_id as 'groupTopic.id',a.content,c.name as 'member.name',c.avatar as 'member.avatar'
    from tbl_group_topic_comment as a left join tbl_group_topic as b on a.group_topic_id=b.id left join tbl_member as c on
    a.member_id=c.id
    <where>
      <if test="groupTopicId &gt; 0">
        a.group_topic_id = #{groupTopicId}
      </if>
    </where>
    order by a.id DESC
  </select>
  <select id="findById" parameterType="java.lang.Integer" resultType="GroupTopicComment">
   select * from tbl_group_topic_comment where a.id = #{id}
  </select>
  <delete id="delete" parameterType="java.lang.Integer">
    delete from tbl_group_topic_comment where id = #{id}
  </delete>
  <delete id="deleteByTopic" parameterType="java.lang.Integer">
    delete from tbl_group_topic_comment where group_topic_id = #{groupTopicId}
  </delete>
  <insert id="save" parameterType="GroupTopicComment" keyProperty="id" useGeneratedKeys="true">
    insert into tbl_group_topic_comment (group_topic_id,member_id,content,create_time)
    values (#{groupTopicId}, #{memberId}, #{content}, now())
  </insert>
</mapper>