<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxinet.jeesns.modules.group.dao.IGroupTopicDao">
  <select id="listByPage" resultType="GroupTopic">
    select a.id,a.group_id as 'group.id', a.collect_time, a.status,a.is_top,a.is_essence,b.*,c.name 'group.name',b.member_id as memberId,b.member_id as 'member.id',d.name as 'member.name'
    from tbl_group_topic as a LEFT JOIN tbl_archive as b ON a.archive_id = b.archive_id
    LEFT JOIN tbl_group as c ON a.group_id = c.id LEFT JOIN tbl_member as d on b.member_id=d.id
    <where>
      <if test="groupId &gt; 0">
        a.group_id = #{groupId}
      </if>
      <if test="key != null and key != ''">
        and b.title LIKE #{key}
      </if>
      <if test="status != 2">
        and a.status = #{status}
      </if>
      <if test="memberId &gt; 0">
        and b.member_id = #{memberId}
      </if>
    </where>
    order by a.is_top DESC,a.id DESC
  </select>
  <select id="findById" parameterType="java.lang.Integer" resultType="GroupTopic">
    select a.id,a.group_id as 'group.id', a.collect_time, a.status,a.is_top,a.is_essence,b.*,c.name 'group.name',b.member_id as memberId,b.member_id as 'member.id',d.name as 'member.name',
    (CASE WHEN (SELECT id FROM tbl_archive_favor WHERE archive_id=b.archive_id AND member_id=#{loginMemberId}) IS NULL THEN 0 ELSE 1 END) isFavor
    from tbl_group_topic as a INNER JOIN tbl_archive as b ON a.archive_id = b.archive_id
    LEFT JOIN tbl_group as c ON a.group_id = c.id LEFT JOIN tbl_member as d on b.member_id=d.id
    where a.id = #{id}
  </select>
  <delete id="delete" parameterType="java.lang.Integer">
    delete from tbl_action_log where type=4 and foreign_id = #{id};
    delete from tbl_group_topic where id = #{id}
  </delete>
  <insert id="save" keyProperty="id" useGeneratedKeys="true">
    insert into tbl_group_topic (collect_time, group_id, archive_id,status) values (now(), #{groupId}, #{archiveId},#{status})
  </insert>
  <update id="audit">
    UPDATE tbl_group_topic SET status = 1 WHERE id = #{id}
  </update>
  <update id="top">
    UPDATE tbl_group_topic SET is_top = #{top} WHERE id = #{id}
  </update>
  <update id="essence">
    UPDATE tbl_group_topic SET is_essence = #{essence} WHERE id = #{id}
  </update>
</mapper>